{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>I am inside from the newapp</h1>
    <h1>Name : {{name}}</h1>
    <h1>Age : {{age}}</h1>
    {% if age >= 20 %}
    <h1>You are eligible for driving license</h1>
    {% elif age < 19 and age > 10 %}
    <h1>You are not eligible</h1>
    {% else %}
    <h1>You are a child</h1>
     {% endif %}
    
    {{lst}}
    <h1>{{ lst | join:" " }}</h1>

    <img src="{% static 'images/bird1.jpg' %}" alt="">

</body>
</html>